body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin: auto;
  width: 100%;
  height: 100%;

}
.styled-table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 2px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 75%;
  box-shadow: 0 0 20px rgb(212, 236, 221,0.1)
}
.styled-table thead tr {
  background-color: #9BA4B4;
  color: #ffffff;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  
}
.styled-table tbody tr {
  border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #D9E4EC ;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #B7CFDC;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #B7CFDC;
}

.styled-table2 {
  border-collapse: collapse;
  margin: auto;
  margin-top: 2px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 75%;
  box-shadow: 0 0 20px rgb(212, 236, 221,0.1)
}
.styled-table2 thead tr {
  background-color: #9BA4B4;
  color: #ffffff;
}

.styled-table2 th,
.styled-table2 td {
  padding: 12px 15px;
}
.styled-table2 tbody tr {
  border-bottom: 1px solid #ffffff;
}

.styled-table2 tbody tr:nth-of-type(even) {
  background-color: #D9E4EC ;
}

.styled-table2 tbody tr:last-of-type {
  border-bottom: 2px solid #9BA4B4;
}
.styled-table2 tbody tr.active-row {
  font-weight: bold;
  color: #B7CFDC;
}

.styled-table3 {
  border-collapse: collapse;
  margin: auto;
  margin-top: 2px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 75%;
  box-shadow: 0 0 20px rgb(212, 236, 221,0.1)
}

.styled-table3 thead tr {
  background-color: #9BA4B4;
  color: #ffffff;
}

.styled-table3 th,
.styled-table3 td {
  padding: 12px 15px;
}
.styled-table3 tbody tr {
  border-bottom: 1px solid #ffffff;
}

.styled-table3 tbody tr:nth-of-type(even) {
  background-color: #D9E4EC ;
}

.styled-table3 tbody tr:last-of-type {
  border-bottom: 2px solid #9BA4B4;
}
.styled-table3 tbody tr.active-row {
  font-weight: bold;
  color: #B7CFDC;
}

.btn
{
border: none;
border-radius: 4px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.dlt{
  background-color:tomato;
  color: white;
  cursor: pointer;

  
}

.edt{
  background-color:cornflowerblue;
  color: white;
  cursor: pointer;

}
.cd-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
  transform: translateY(0);
}

.css-w4z10b-MuiStack-root{
  margin: auto;
  width: 50%;
}
.searchBack{
  height: 300px;
  position: relative;
  text-align: center;

}

.box {
  width:80%;
  height:30%;
  bottom: 25px;
  left: 10%;
  margin:Auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3px;

}

.seat {
  background-color: green;
}

.seat--reserved {
  background-color: gray;
}

.seat--selected {
  background-color: blue;
}

.seat-picker {
  margin: auto;
}

.seat-picker__row {
}

.seat-picker__row__number {
}


